@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <br>
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.wikihow.com/images/thumb/6/65/Win-at-Checkers-Step-12-Version-3.jpg/aid628008-v4-1200px-Win-at-Checkers-Step-12-Version-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Create new game</h5>
        <p class="card-text">Here you can create a new game. Before creating a new game be sure that you have at least one option created in the options tab</p>
        <a asp-page="CheckerGames/Create" class="btn btn-primary">New Game</a>
      </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.wikihow.com/images/thumb/6/65/Win-at-Checkers-Step-12-Version-3.jpg/aid628008-v4-1200px-Win-at-Checkers-Step-12-Version-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">List of games</h5>
        <p class="card-text">Take a look at the games you already have</p>
        <a asp-page="CheckerGames/Index" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

</div>