@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <br>
    
    <br>
    

    
    <div class="container index-container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 22rem">
                <img class="card-img-top" src="https://image1.masterfile.com/getImage/NjI1LTAyMjY2NDc3ZW4uMDAwMDAwMDA=AC3aEq/625-02266477en_Masterfile.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Create new game</h5>
                  <p class="card-text">Here you can create a new game.</p>
                  <br/>
                  <a asp-page="CheckerGames/Create" class="btn btn-primary">New Game</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem; height: 22rem">
                <img class="card-img-top" src="https://i.pinimg.com/736x/d8/02/58/d8025864966158972909761c3c46f9c3--board-game-organization-geek-games.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">List of games</h5>
                  <p class="card-text">Take a look at the games you already have</p>
                  <a asp-page="CheckerGames/Index" class="btn btn-primary">Game list</a>
                </div>
              </div>
        </div>

      </div>
    </div>
    
</div>