@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <br>
    <br>
    <h3>This is the best checker game in the world 🎮</h3>
    <a class="home-page-link" asp-page="CheckerGames/Create"> Start a new game! </a>
    <br/>
    <a class="home-page-link" asp-page="CheckerGames/Index"> List of games </a>
</div>