html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h2 {
  text-align: center;
  
}

h1 {
  text-align: center;
}


.game-table{
  width: initial;
  background-color: #cfe2ff;
  margin-left: auto;
  margin-right: auto;
  border-width: 30px !important;
  border-color: dimgray;
}

td{
  padding: 0;
}

.game-table-cell {
  font-size: 35px ;
  width: 100px;
  min-width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  padding: 0;
  vertical-align: middle;
}

.game-table-cell-white {
  background-color: white !important;
}

.game-table-cell-black {
  background-color: black !important;
}

.game-table-cell-move-is-possible {
  background-color: yellow !important;
}

.clickable-div{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.active-checker-div{
  color: darkred;
}

.home-page-link{
  font-size: 30px;
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
}

.home-page-link:link, .home-page-link:visited, .home-page-link:focus{
  background: palegoldenrod;
  color: black;
  padding: 8px;
}

.home-page-link:hover {
  background: orange;
}

.home-page-link:active {
  background: darkred;
  color: white;
}

.submit-button{
  margin: 5px;
}