@page
@model WebApplication1.Pages.CheckerGameOptions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CheckerGameOptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Name" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Name" minlength="1" maxlength="127" required="required" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Width" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Width" min="4" max="128" step="2" required="required" id="width-input" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Height" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Height" min="4" max="128" step="2" required="required" id="height-input" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Height" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckerGameOptions.TakingIsMandatory" /> @Html.DisplayNameFor(model => model.CheckerGameOptions.TakingIsMandatory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckerGameOptions.WhiteStarts" /> @Html.DisplayNameFor(model => model.CheckerGameOptions.WhiteStarts)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
        const height = document.getElementById("height-input");
        const width = document.getElementById("width-input");
        
        height.addEventListener("input", ev => {
            if (parseInt(height.value) % 2 !== 0){
                height.setCustomValidity("This number should be even");
                height.reportValidity();
            }else{
                height.setCustomValidity("");    
            }
        });
        width.addEventListener("input", ev => {
            if (parseInt(width.value) % 2 !== 0){
                width.setCustomValidity("This number should be even");
                width.reportValidity();
            }else{
                width.setCustomValidity("");    
            }
        });
        
        
        </script>
}
