@page
@model WebApplication1.Pages.CheckerGameOptions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckerGameOptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CheckerGameOptions.Id" />
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Name" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Name" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Width" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Width" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.Height" class="control-label"></label>
                <input asp-for="CheckerGameOptions.Height" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.Height" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckerGameOptions.TakingIsMandatory" /> @Html.DisplayNameFor(model => model.CheckerGameOptions.TakingIsMandatory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckerGameOptions.WhiteStarts" /> @Html.DisplayNameFor(model => model.CheckerGameOptions.WhiteStarts)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CheckerGameOptions.GameCount" class="control-label"></label>
                <input asp-for="CheckerGameOptions.GameCount" class="form-control" />
                <span asp-validation-for="CheckerGameOptions.GameCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
